main{
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
  }
  .mini_card_category{
    display: flex;
    gap: 30px;
  }
  .card_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 10px;
    width: 125px;
    height: 70px;
  }

  .card_img {
    align-self: flex-end;
    width: 40px;
    height: 40px;
  }
  .services-container {
    
  }
  
  .services-heading {
    text-align: center;
  }
  
  
  .service {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  
  .service-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .service-title {
    margin-top: 10px;
  }
  .cars-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;  
  }
  
  .cars-heading {
    text-align: center;
  }
  
  .cars-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
  }
  
  .car-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 10px;
    border-radius: 5px;
  }
  
  .car-title {
    margin-top: 10px;
  }
  
  .car-price,
  .car-location {
    margin-top: 5px;
    color: #888;
  }
  
  
