.car-listing {
    display: flex;
    margin-bottom: 20px;
  }
  
  .car-img {
    flex: 0 0 200px;
  }
  
  .car-img img {
    width: 100%;
    height: auto;
  }
  
  .car-details {
    margin-left: 20px;
  }
  
  .car-title {
    margin-top: 0;
  }
  
  .car-price,
  .car-location {
    color: #888;
  }
  
  .car-description {
    margin-top: 10px;
  }
  