body */
body {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation ul li {
  margin-right: 15px;
}

.navigation ul li a {
  text-decoration: none;
  color: #666666;
}

.user-actions a {
  text-decoration: none;
  color: #666666;
  margin-left: 15px;
}
.avito-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #005ea5;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.search-container{
  display: flex;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  justify-content: space-between;
}
.search-container_input {
  display: flex;
  width: 80%;
  background: #005ea5;
  align-items:center;
  border: 100px;
  border-radius: 5px;
}

#search-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30%;
  border: 100px;
  margin-left: 5px;

}

#search-button {
  margin-left: 10px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.scroll-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #ff5a00;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.scroll-button.show {
  display: block;
}

.scroll-button:hover {
  opacity: 0.7;
}
main{
  display: flex;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}
.mini_card_category{
  display: flex;
}
button#card_category{
display: flex;
margin-right: 10px;
width: 125px;
height: 70px;
}